html {
	scroll-behavior: smooth;
}
body {
	margin: 0;
	font-family: Roboto, arial, sans-serif;
}
.container {
	padding: 20px;
	padding-bottom: 0;
	padding-top: 0;
}
.table {
	display: table;
	table-layout: fixed;
	width: 100%;
	column-count: 3;
}
.cell {
	display: table-cell;
	text-align: center;
	padding: 10px;
}
.subtitle {
	color: #70757a;
	font-size: 12px;
	letter-spacing: 0.2px;
	line-height: 20px;
	font-weight: 500;
	text-align: left;
	margin-top: 7px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.item {
	padding: 20px;
	background: rgba(0,0,0, .05);
	background-size: cover;
	padding-bottom: 60%;
	position: relative;
}
.item.digital {
	background-image: url("http://jl646.com/images/page_images/thumbs/visual_Joyus-20180121_joyus_Shop-40-off.jpg");
}
.item.event {
	background-image: url("http://jl646.com/images/page_images/event_aramark.jpg");
	background-position: center;
}
.item.drawing {
	background-image: url("http://jl646.com/images/page_images/fallingwater.jpg");
	background-size: 107%;
	background-position: center;
}
.item.gp {
	background-image: url("http://jl646.com/images/page_images/gp_hand-170912.jpg");
	background-position-y: 48%;
}
.item.print {
	background-image: url("http://jl646.com/images/page_images/ad_startsmart.jpg");
}
.item.other {
	background-image: url("http://jl646.com/images/page_images/pattern_dots.jpg");
}
.title {
	padding: 10px;
	padding-top: 20px;
}
.row {
	display: table-row;
}
.arrow {
	width: 30px;
	height: 30px;
	background-image: url(http://jlwork.site/images/triangle.png);
	background-size: contain;
	background-repeat: no-repeat;
	bottom: -70px;
	transform: translate(-50%);
	position: absolute;
	display: inline-block;
	opacity: 0;
	transition-delay: 0;
	transition: 0;
	transition-timing-function: ease;
}
.arrow.open {
	transition-delay: .1s;
	transition: .1s;
	opacity: 1;
}
.expansion {
	background: #222;
	padding: 0;
	display: block;
	height: 0;
	transition: .1s;
	transition-timing-function: ease-out;
	margin: 0;
	overflow: hidden;
	text-align: center;
	position: relative;
}
.expansion.open {
	padding: 30px;
	margin-top: 15px;
	margin-bottom: 10px;
	height: 640px;
}
.split {
	margin: 0 auto;
}
.mainimage {
	display: inline-block;
}
.helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.mainimage img {
	max-height: 600px;
	max-width: 700px;
	vertical-align: middle;
}
.gridcontainer {
	width: 440px;
	display: inline-block;
    vertical-align: top;
    text-align: left;
    float: right;
    margin-top: 70px;
    padding-right: 70px;
}
.gridtext {
	color: #d6d6d6;
}
h1 {
	font-size: 22px;
	font-weight: 400;
	margin: 0;
}
p {
	font-size: 12px;
	margin-top: 9px;
	margin-bottom: 18px;
	line-height: 16px;
}
.gridtext p {
	color: #888;
}
.title h1 .part2 {
	color: rgba(0,0,0, .4);
}
.title p {
	font-size: 14px;
    margin-top: 5px;
    margin-bottom: 0;
    line-height: 16px;
    color: #777;
}
.grid {
	display: inline-block;
	vertical-align: top;
    width: 420px;
}
.square {
    background-color: rgba(255,255,255, .05);
    float: left;
    position: relative;
    width: 22%;
    padding-bottom: 22%;
    margin: 5px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
}
.scrollarrow {
	position: absolute;
	background-image: url("images/arrow.png");
	background-repeat: no-repeat;
	background-position: center;
	width: 20px;
	background-size: 20px;
	height: 100%;
	top: 0;
	padding: 10px;
	cursor: pointer;
	filter: brightness(.35);
}
.scrollarrow.left {
	transform: scaleX(-1);
	left: 0;
}
.scrollarrow.right {
	right: 0;
}
@media all and (max-width: 1500px) {
	.gridcontainer {
		padding-right: 30px;
	}
	.expansion.open {
		padding: 10px;
	}
}
@media all and (max-width: 1270px) {
	.mainimage img {
		max-width: 300px;
	}
	.gridcontainer {
		padding-right: 20px;
	}
}
@media all and (max-width: 1270px) {
	.mainimage img {
		max-width: 420px;
	}
	.expansion.open {
		padding: 20px;
	}
}
@media all and (max-width: 1000px) {
	.mainimage img {
		max-width: 400px;
	}
	.gridcontainer {
		padding-right: 20px;
		width: 340px;
	}
	.grid {
		width: 100%;
	}
	.expansion.open {
		padding: 10px;
	}
}
@media all and (max-width: 800px) {
	.mainimage img {
		max-width: 250px;
	}
@media all and (max-width: 700px) {
	.expansion.open .gridcontainer {
		display: none;
	}
	.expansion.open {
		height: 500px;
	}
	.mainimage img {
		max-height: 470px;
	}
}




/*
for overlay
*/
.overlay.visible {
	display: initial;
}
.overlay {
	display: none;
	position: fixed;
	bottom: 0;
	right: 0;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0, .88);
}
.overlay .wrapper {
	position: fixed;
	bottom: 0;
	right: 0;
	top: 0;
	left: 0;
	margin: 40px;
	background-image: url("http://jl646.com/images/page_images/thumbs/visual_Joyus-20180121_joyus_Shop-40-off.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.overlay .x {
	position: fixed;
	top: 13px;
	right: 11px;
	background-image: url("http://jl646.com/new/images/x.gif");
	width: 30px;
	height: 30px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-size: cover;
	filter: brightness(.4);
}


























